# dependencies
node_modules/

# next.js
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local

# payload
payload-types.ts.bak

# misc
.DS_Store
*.pem
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# logs
logs/
*.log
